.html
ch3_bestbigger.html
ch3_reflexivity.html
example_ces.html
Example_notebook_IIT_4.ipynb
Filling_the_slots_MG.ipynb
Filling_the_slots.ipynb
pyphi.log
space_4_earest_network.pkl
space_4_lognorm_network.pkl
space_4_nearest_network.pkl
.ipynb_checkpoints/Example_notebook_IIT_4-checkpoint.ipynb
.ipynb_checkpoints/Filling_the_slots_MG-checkpoint.ipynb
.ipynb_checkpoints/Filling_the_slots-checkpoint.ipynb
.ipynb_checkpoints/Filling_the_slots-Copy1-checkpoint.ipynb
example_data/{net_name}_subsystem.pkl
example_data/space_4_earest_subsystem.pkl
example_data/space_4_lognorm_subsystem.pkl
example_data/space_4_nearest_subsystem.pkl
visualize_pyphi/compute.py
visualize_pyphi/__pycache__/__init__.cpython-39.pyc
visualize_pyphi/__pycache__/compute.cpython-39.pyc
visualize_pyphi/__pycache__/network_generator.cpython-39.pyc
visualize_pyphi/__pycache__/simulate_ces.cpython-39.pyc
visualize_pyphi/__pycache__/special_plots.cpython-39.pyc
visualize_pyphi/__pycache__/utils.cpython-39.pyc
visualize_pyphi/__pycache__/visualize_ces.cpython-39.pyc
visualize_pyphi.egg-info/dependency_links.txt
visualize_pyphi.egg-info/PKG-INFO
visualize_pyphi.egg-info/requires.txt
visualize_pyphi.egg-info/SOURCES.txt
visualize_pyphi.egg-info/top_level.txt
