# Don't track content of these folders
figures/**
__pyphi_cache__/**
pyphi.log
.ipynb_checkpoints/**
_CES.html
_CES.png
.ipynb_checkpoints/Example_notebook-checkpoint.ipynb
visualize_pyphi/.ipynb_checkpoints/**
visualize_pyphi/__pycache__/**
pickles/space_4_rels2_compressed.pkl
pickles/space_4_rels3_compressed.pkl
pickles/space_4_rels4_compressed.pkl
pickles/space_4_rels5_compressed.pkl
pickles/space_4_rels6_compressed.pkl
pickles/space_4_rels7_compressed.pkl
pickles/space_4_rels8_compressed.pkl
pickles/space_4_rels9_compressed.pkl
pickles/space_4_rels10_compressed.pkl
pickles/space_4_rels11_compressed.pkl
pickles/space_4_rels12_compressed.pkl
pickles/space_4_rels13_compressed.pkl
pickles/space_4_rels14_compressed.pkl
pyphi.log
ch3_allrels.pkl
ch3_weights.csv
pyphi.log
space_rels_computing_time.txt
space_rels_count.png
pickles/space_4_rels2_indirect.pkl
pickles/space_4_rels3_indirect.pkl
pickles/space_4_rels4_indirect.pkl
pickles/space_4_rels5_indirect.pkl
pickles/space_4_rels6_indirect.pkl
pickles/space_4_rels7_indirect.pkl
pickles/space_4_rels8_indirect.pkl
pickles/space_4_rels9_indirect.pkl
pickles/space_4_rels10_indirect.pkl
pickles/space_4_rels11_indirect.pkl
pickles/space_4_rels12_indirect.pkl
pickles/space_4_rels13_indirect.pkl
pickles/space_4_rels14_indirect.pkl
pickles/space_4_rels15_compressed.pkl
pickles/space_4_rels15_indirect.pkl
pickles/space_4_rels16_compressed.pkl
pickles/space_4_rels16_indirect.pkl
pickles/space_4_rels17_compressed.pkl
pickles/space_4_rels17_indirect.pkl
pickles/space_4_rels18_compressed.pkl
pickles/space_4_rels18_indirect.pkl
pickles/space_4_rels19_compressed.pkl
pickles/space_4_rels19_indirect.pkl
pickles/space_4_rels20_compressed.pkl
pickles/space_4_rels20_indirect.pkl
pickles/space_4_rels21_compressed.pkl
pickles/space_4_rels21_indirect.pkl
pickles/space_4_rels22_compressed.pkl
pickles/space_4_rels22_indirect.pkl
pickles/space_4_rels23_compressed.pkl
pickles/space_4_rels23_indirect.pkl
pickles/space_4_rels24_compressed.pkl
pickles/space_4_rels24_indirect.pkl
pickles/space_4_rels25_compressed.pkl
pickles/space_4_rels25_indirect.pkl
pickles/space_4_rels26_compressed.pkl
pickles/space_4_rels26_indirect.pkl
pickles/space_4_rels27_compressed.pkl
pickles/space_4_rels27_indirect.pkl
pickles/space_4_rels28_compressed.pkl
pickles/space_4_rels28_indirect.pkl
pickles/space_4_rels29_compressed.pkl
pickles/space_4_rels29_indirect.pkl
pickles/space_4_rels30_compressed.pkl
pickles/space_4_rels30_indirect.pkl
visualize_pyphi/compute.py
ch3_3nodes_bmaxces_krels_2-14.pkl
ch3_4-5nodes_bj_known_mip-Copy1.ipynb
ch3_4-5nodes_bj_known_mip.ipynb
ch3_4-5nodes_compute_relations-Copy1.ipynb
ch3_4-5nodes_compute_relations.ipynb
ch3_4-5nodes_dask_bj-Copy1.ipynb
ch3_4-5nodes_dask_bj-Copy2.ipynb
ch3_4-5nodes_dask_bj-Copy3.ipynb
ch3_4-5nodes_dask_bj.ipynb
ch3_4nodes_bmaxces_krels_2-30.pkl
ch3_4nodes_info1_bmaxces_krels_1-30.pkl
ch3_4nodes_info2_bmaxces_krels_1-28.pkl
ch3_4nodes_info3_bmaxces_krels_2-30.pkl
ch3_4nodes_maxces_krels_2-2.pkl
ch3_4nodes_testcase.ipynb
ch3_5nodes_bjces_provided_mip_krels_2-23.pkl
ch3_5nodes_bjces_provided_mip_krels_6-9.pkl
ch3_5nodes_bmaxces_krels_2-2_phistructures.pkl
ch3_5nodes_bmaxces_krels_2-2.pkl
ch3_5nodes_bmaxces_krels_2-4_phistructures.pkl
ch3_5nodes_bmaxces_krels_3-3_phistructures.pkl
ch3_5nodes_bmaxces_krels_7-7_phistructures.pkl
ch3_5nodes_bmaxces_krels_7-8_phistructures.pkl
ch3_5nodes_bmaxces_krels_8-8_phistructures.pkl
ch3_5nodes_maxces_krels_2-2_phistructures.pkl
ch3_comparing_phistructures.ipynb
ch3_compressed_allrels.pkl
ch3_figures_MG_high_ks_bug.ipynb
ch3_figures_MG.ipynb
ch3_log.txt
ch3_network.pkl
ch3_tpm.npy
ch3_v2_4nodes_bmaxces_krels_2-30.pkl
ch3_v2_4nodes_pyphices_krels_2-30.pkl
ch3_v2_5nodes_bmaxces_krels_2-18.pkl
ch3_v2_compute-Copy1.ipynb
ch3_v2_compute.ipynb
ch3_v2_network.pkl
ch3_v3_network.pkl
ch3_v5_network.pkl
grids_2-5nodes.ipynb
grids_2nodes_maxces.pkl
grids_3nodes_maxces.pkl
MIP_CES.html
MIP_CES.png
pyphi_config.yml
pyphi.log
test_parameters.json
dask-worker-space/global.lock
dask-worker-space/purge.lock
dask-worker-space/worker-_e3zsboa.dirlock
dask-worker-space/worker-_y3uuvxh.dirlock
dask-worker-space/worker-0pbe8rq9.dirlock
dask-worker-space/worker-0xp2z7wg.dirlock
dask-worker-space/worker-1c7i2nou.dirlock
dask-worker-space/worker-1ju0qdpi.dirlock
dask-worker-space/worker-1k8k7l8r.dirlock
dask-worker-space/worker-1ksju_ss.dirlock
dask-worker-space/worker-1lpg97vi.dirlock
dask-worker-space/worker-1q5ulhj9.dirlock
dask-worker-space/worker-1qfpwror.dirlock
dask-worker-space/worker-1vnv8h0_.dirlock
dask-worker-space/worker-2nedw1ur.dirlock
dask-worker-space/worker-2qvqj3ih.dirlock
dask-worker-space/worker-2sxj9l6_.dirlock
dask-worker-space/worker-2thj9j5h.dirlock
dask-worker-space/worker-2tq96odm.dirlock
dask-worker-space/worker-3b8tgqfy.dirlock
dask-worker-space/worker-3pdpok1e.dirlock
dask-worker-space/worker-4hv4njyk.dirlock
dask-worker-space/worker-4k2fp0yh.dirlock
dask-worker-space/worker-5o_8i3ig.dirlock
dask-worker-space/worker-06oecnxm.dirlock
dask-worker-space/worker-6piwuq0b.dirlock
dask-worker-space/worker-6xre06h0.dirlock
dask-worker-space/worker-6zoxzbn2.dirlock
dask-worker-space/worker-7aaio7y_.dirlock
dask-worker-space/worker-7fu99m48.dirlock
dask-worker-space/worker-7m8ub897.dirlock
dask-worker-space/worker-7wf7mk02.dirlock
dask-worker-space/worker-8c1_8e_p.dirlock
dask-worker-space/worker-8odnhma7.dirlock
dask-worker-space/worker-8tc32c2t.dirlock
dask-worker-space/worker-8zewgidv.dirlock
dask-worker-space/worker-9e6kosny.dirlock
dask-worker-space/worker-9ena0f_r.dirlock
dask-worker-space/worker-9f5lzj38.dirlock
dask-worker-space/worker-9rsk4x_n.dirlock
dask-worker-space/worker-9s5fj5ch.dirlock
dask-worker-space/worker-9xnrcq7z.dirlock
dask-worker-space/worker-9y6bwg8u.dirlock
dask-worker-space/worker-16tjfoci.dirlock
dask-worker-space/worker-17tzutdk.dirlock
dask-worker-space/worker-20szr9u5.dirlock
dask-worker-space/worker-32iv53xn.dirlock
dask-worker-space/worker-37jaezi_.dirlock
dask-worker-space/worker-73l2qo4r.dirlock
dask-worker-space/worker-92qlorjx.dirlock
dask-worker-space/worker-608ad36m.dirlock
dask-worker-space/worker-824yzirw.dirlock
dask-worker-space/worker-aqfvojsy.dirlock
dask-worker-space/worker-at2y3az0.dirlock
dask-worker-space/worker-au6z_vsn.dirlock
dask-worker-space/worker-aw76lan4.dirlock
dask-worker-space/worker-b6x_o5bz.dirlock
dask-worker-space/worker-bds01pkb.dirlock
dask-worker-space/worker-bg9as10k.dirlock
dask-worker-space/worker-biohw968.dirlock
dask-worker-space/worker-bjuc3rvl.dirlock
dask-worker-space/worker-bkasi20x.dirlock
dask-worker-space/worker-bo7yk998.dirlock
dask-worker-space/worker-br29r0r6.dirlock
dask-worker-space/worker-bumta6ov.dirlock
dask-worker-space/worker-c1hmb177.dirlock
dask-worker-space/worker-ceipcrkv.dirlock
dask-worker-space/worker-cqj6jm6k.dirlock
dask-worker-space/worker-cty8_rm4.dirlock
dask-worker-space/worker-d683uqpb.dirlock
dask-worker-space/worker-dj5zyqqi.dirlock
dask-worker-space/worker-dkq2r_2k.dirlock
dask-worker-space/worker-dldxkgwq.dirlock
dask-worker-space/worker-do4lvz3b.dirlock
dask-worker-space/worker-dqzx8to7.dirlock
dask-worker-space/worker-dw_0u624.dirlock
dask-worker-space/worker-dztbshue.dirlock
dask-worker-space/worker-e87u94o9.dirlock
dask-worker-space/worker-ewib9fba.dirlock
dask-worker-space/worker-ey46ug64.dirlock
dask-worker-space/worker-f70m888a.dirlock
dask-worker-space/worker-firchwhj.dirlock
dask-worker-space/worker-fsxy1v7p.dirlock
dask-worker-space/worker-gas17483.dirlock
dask-worker-space/worker-giliphnv.dirlock
dask-worker-space/worker-gjj4ihyl.dirlock
dask-worker-space/worker-gs0lroxa.dirlock
dask-worker-space/worker-h4bv7jol.dirlock
dask-worker-space/worker-hlsnst0e.dirlock
dask-worker-space/worker-i3l1fsav.dirlock
dask-worker-space/worker-ifptbq3d.dirlock
dask-worker-space/worker-iiagb2di.dirlock
dask-worker-space/worker-ijkizqnh.dirlock
dask-worker-space/worker-ircg4gxf.dirlock
dask-worker-space/worker-j4l9rbd8.dirlock
dask-worker-space/worker-jtyyu2gq.dirlock
dask-worker-space/worker-k_qzkirw.dirlock
dask-worker-space/worker-ko4j4p2y.dirlock
dask-worker-space/worker-kq8te74j.dirlock
dask-worker-space/worker-kvkcp3zr.dirlock
dask-worker-space/worker-l9p8oil3.dirlock
dask-worker-space/worker-lbu1zogv.dirlock
dask-worker-space/worker-ldlot6c2.dirlock
dask-worker-space/worker-mejkfftj.dirlock
dask-worker-space/worker-mg0hdn95.dirlock
dask-worker-space/worker-mh_87w43.dirlock
dask-worker-space/worker-mj08wiz2.dirlock
dask-worker-space/worker-mrplubp4.dirlock
dask-worker-space/worker-n2ba1b6o.dirlock
dask-worker-space/worker-ni2x24sa.dirlock
dask-worker-space/worker-ns34eqyh.dirlock
dask-worker-space/worker-nwhlvvte.dirlock
dask-worker-space/worker-nyo9_nzi.dirlock
dask-worker-space/worker-o1yb1huz.dirlock
dask-worker-space/worker-o3i_xhq9.dirlock
dask-worker-space/worker-om6vkk6y.dirlock
dask-worker-space/worker-oqif42v5.dirlock
dask-worker-space/worker-p8h3zuid.dirlock
dask-worker-space/worker-pgst46c0.dirlock
dask-worker-space/worker-pgxuxduz.dirlock
dask-worker-space/worker-pjy5por_.dirlock
dask-worker-space/worker-px3eoxco.dirlock
dask-worker-space/worker-q9vc7l4z.dirlock
dask-worker-space/worker-qh6bs8s2.dirlock
dask-worker-space/worker-quwcxv4v.dirlock
dask-worker-space/worker-qw80kdba.dirlock
dask-worker-space/worker-rej90eur.dirlock
dask-worker-space/worker-rk9f6flu.dirlock
dask-worker-space/worker-rtupzma7.dirlock
dask-worker-space/worker-s1122t36.dirlock
dask-worker-space/worker-sspj_905.dirlock
dask-worker-space/worker-stfxzq1x.dirlock
dask-worker-space/worker-stipjc0v.dirlock
dask-worker-space/worker-tbhb5bu3.dirlock
dask-worker-space/worker-tc23f50w.dirlock
dask-worker-space/worker-tewnb8l7.dirlock
dask-worker-space/worker-tqcmxxgx.dirlock
dask-worker-space/worker-tvp20rbw.dirlock
dask-worker-space/worker-u9z2r5w6.dirlock
dask-worker-space/worker-u71u8a2_.dirlock
dask-worker-space/worker-u0964gtu.dirlock
dask-worker-space/worker-ulhtzm47.dirlock
dask-worker-space/worker-un0w_fxh.dirlock
dask-worker-space/worker-v0lpssa5.dirlock
dask-worker-space/worker-v6brxes_.dirlock
dask-worker-space/worker-v9goan15.dirlock
dask-worker-space/worker-vaag3tqw.dirlock
dask-worker-space/worker-vfr_o1mt.dirlock
dask-worker-space/worker-vhw0ib6t.dirlock
dask-worker-space/worker-w_i3uha0.dirlock
dask-worker-space/worker-wemkhzic.dirlock
dask-worker-space/worker-x9ib69c8.dirlock
dask-worker-space/worker-xlwo_as5.dirlock
dask-worker-space/worker-xmithxs0.dirlock
dask-worker-space/worker-y5v23q0s.dirlock
dask-worker-space/worker-y36pl2x_.dirlock
dask-worker-space/worker-ygnjhlh5.dirlock
dask-worker-space/worker-yhc4yuw8.dirlock
dask-worker-space/worker-ym76g5x1.dirlock
dask-worker-space/worker-ymt6wxfo.dirlock
dask-worker-space/worker-ystqqwk9.dirlock
dask-worker-space/worker-z2vb96_2.dirlock
dask-worker-space/worker-z4h76368.dirlock
dask-worker-space/worker-zc1hu9fr.dirlock
dask-worker-space/worker-zc2nwk_k.dirlock
dask-worker-space/worker-zdx5kcc1.dirlock
dask-worker-space/worker-zg9gpv20.dirlock
dask-worker-space/worker-zjwwjzt1.dirlock
for_will/bmaxces.pkl
for_will/ces.pkl
for_will/ch3_5nodes_indirect_krels_2-26.pkl
for_will/ch3_5nodes_subsystem.pkl
for_will/ch3_v2_5nodes_krels_2-18.pkl
for_will/ch3_v2_5nodes_subsystem.pkl
for_will/ch3_v3_5nodes_krels_2-46.pkl
for_will/pyphi_config.yml
for_will/rels.pkl
for_will/subsystem.pkl
relations/ch3_5nodes_krels_2.pkl
relations/ch3_5nodes_krels_3.pkl
relations/ch3_5nodes_krels_4.pkl
relations/ch3_5nodes_krels_5.pkl
relations/ch3_5nodes_krels_6.pkl
relations/ch3_5nodes_krels_7.pkl
relations/ch3_5nodes_krels_8.pkl
relations/ch3_5nodes_krels_9.pkl
relations/ch3_5nodes_krels_10.pkl
relations/ch3_5nodes_krels_11.pkl
relations/ch3_5nodes_krels_12.pkl
relations/ch3_5nodes_krels_13.pkl
relations/ch3_5nodes_krels_14.pkl
relations/ch3_5nodes_krels_15.pkl
relations/ch3_5nodes_krels_16.pkl
relations/ch3_5nodes_krels_17.pkl
relations/ch3_5nodes_krels_18.pkl
relations/ch3_5nodes_krels_19.pkl
relations/ch3_5nodes_krels_20.pkl
relations/ch3_5nodes_krels_21.pkl
relations/ch3_5nodes_krels_22.pkl
relations/ch3_5nodes_krels_23.pkl
relations/ch3_5nodes_krels_24.pkl
relations/ch3_5nodes_krels_25.pkl
relations/ch3_5nodes_krels_26.pkl
relations/ch3_5nodes_krels_27.pkl
relations/ch3_5nodes_krels_28.pkl
relations/ch3_5nodes_krels_29.pkl
relations/ch3_v2_4nodes_info1_krels_2.pkl
relations/ch3_v2_4nodes_info1_krels_3.pkl
relations/ch3_v2_4nodes_info1_krels_4.pkl
relations/ch3_v2_4nodes_info1_krels_5.pkl
relations/ch3_v2_4nodes_info1_krels_6.pkl
relations/ch3_v2_4nodes_info1_krels_7.pkl
relations/ch3_v2_4nodes_info1_krels_8.pkl
relations/ch3_v2_4nodes_info1_krels_9.pkl
relations/ch3_v2_4nodes_info1_krels_10.pkl
relations/ch3_v2_4nodes_info1_krels_11.pkl
relations/ch3_v2_4nodes_info1_krels_12.pkl
relations/ch3_v2_4nodes_info1_krels_13.pkl
relations/ch3_v2_4nodes_info1_krels_14.pkl
relations/ch3_v2_4nodes_info1_krels_15.pkl
relations/ch3_v2_4nodes_info1_krels_16.pkl
relations/ch3_v2_4nodes_info1_krels_17.pkl
relations/ch3_v2_4nodes_info1_krels_18.pkl
relations/ch3_v2_4nodes_info1_krels_19.pkl
relations/ch3_v2_4nodes_info1_krels_20.pkl
relations/ch3_v2_4nodes_info1_krels_21.pkl
relations/ch3_v2_4nodes_info1_krels_22.pkl
relations/ch3_v2_4nodes_info1_krels_23.pkl
relations/ch3_v2_4nodes_info1_krels_24.pkl
relations/ch3_v2_4nodes_info1_krels_25.pkl
relations/ch3_v2_4nodes_info1_krels_26.pkl
relations/ch3_v2_4nodes_info1_krels_27.pkl
relations/ch3_v2_4nodes_info1_krels_28.pkl
relations/ch3_v2_4nodes_info1_krels_29.pkl
relations/ch3_v2_4nodes_info1_krels_30.pkl
relations/ch3_v2_4nodes_info2_krels_2.pkl
relations/ch3_v2_4nodes_info2_krels_3.pkl
relations/ch3_v2_4nodes_info2_krels_4.pkl
relations/ch3_v2_4nodes_info2_krels_5.pkl
relations/ch3_v2_4nodes_info2_krels_6.pkl
relations/ch3_v2_4nodes_info2_krels_7.pkl
relations/ch3_v2_4nodes_info2_krels_8.pkl
relations/ch3_v2_4nodes_info2_krels_9.pkl
relations/ch3_v2_4nodes_info2_krels_10.pkl
relations/ch3_v2_4nodes_info2_krels_11.pkl
relations/ch3_v2_4nodes_info2_krels_12.pkl
relations/ch3_v2_4nodes_info2_krels_13.pkl
relations/ch3_v2_4nodes_info2_krels_14.pkl
relations/ch3_v2_4nodes_info2_krels_15.pkl
relations/ch3_v2_4nodes_info2_krels_16.pkl
relations/ch3_v2_4nodes_info2_krels_17.pkl
relations/ch3_v2_4nodes_info2_krels_18.pkl
relations/ch3_v2_4nodes_info2_krels_19.pkl
relations/ch3_v2_4nodes_info2_krels_20.pkl
relations/ch3_v2_4nodes_info2_krels_21.pkl
relations/ch3_v2_4nodes_info2_krels_22.pkl
relations/ch3_v2_4nodes_info2_krels_23.pkl
relations/ch3_v2_4nodes_info2_krels_24.pkl
relations/ch3_v2_4nodes_info2_krels_25.pkl
relations/ch3_v2_4nodes_info2_krels_26.pkl
relations/ch3_v2_4nodes_info2_krels_27.pkl
relations/ch3_v2_4nodes_info2_krels_28.pkl
relations/ch3_v2_4nodes_info3_krels_2.pkl
relations/ch3_v2_4nodes_info3_krels_3.pkl
relations/ch3_v2_4nodes_info3_krels_4.pkl
relations/ch3_v2_4nodes_info3_krels_5.pkl
relations/ch3_v2_4nodes_info3_krels_6.pkl
relations/ch3_v2_4nodes_info3_krels_7.pkl
relations/ch3_v2_4nodes_info3_krels_8.pkl
relations/ch3_v2_4nodes_info3_krels_9.pkl
relations/ch3_v2_4nodes_info3_krels_10.pkl
relations/ch3_v2_4nodes_info3_krels_11.pkl
relations/ch3_v2_4nodes_info3_krels_12.pkl
relations/ch3_v2_4nodes_info3_krels_13.pkl
relations/ch3_v2_4nodes_info3_krels_14.pkl
relations/ch3_v2_4nodes_info3_krels_15.pkl
relations/ch3_v2_4nodes_info3_krels_16.pkl
relations/ch3_v2_4nodes_info3_krels_17.pkl
relations/ch3_v2_4nodes_info3_krels_18.pkl
relations/ch3_v2_4nodes_info3_krels_19.pkl
relations/ch3_v2_4nodes_info3_krels_20.pkl
relations/ch3_v2_4nodes_info3_krels_21.pkl
relations/ch3_v2_4nodes_info3_krels_22.pkl
relations/ch3_v2_4nodes_info3_krels_23.pkl
relations/ch3_v2_4nodes_info3_krels_24.pkl
relations/ch3_v2_4nodes_info3_krels_25.pkl
relations/ch3_v2_4nodes_info3_krels_26.pkl
relations/ch3_v2_4nodes_info3_krels_27.pkl
relations/ch3_v2_4nodes_info3_krels_28.pkl
relations/ch3_v2_4nodes_info3_krels_29.pkl
relations/ch3_v2_4nodes_info3_krels_30.pkl
relations/ch3_v2_4nodes_krels_2.pkl
relations/ch3_v2_4nodes_krels_3.pkl
relations/ch3_v2_4nodes_krels_4.pkl
relations/ch3_v2_4nodes_krels_5.pkl
relations/ch3_v2_4nodes_krels_6.pkl
relations/ch3_v2_4nodes_krels_7.pkl
relations/ch3_v2_4nodes_krels_8.pkl
relations/ch3_v2_4nodes_krels_9.pkl
relations/ch3_v2_4nodes_krels_10.pkl
relations/ch3_v2_4nodes_krels_11.pkl
relations/ch3_v2_4nodes_krels_12.pkl
relations/ch3_v2_4nodes_krels_13.pkl
relations/ch3_v2_4nodes_krels_14.pkl
relations/ch3_v2_4nodes_krels_15.pkl
relations/ch3_v2_4nodes_krels_16.pkl
relations/ch3_v2_4nodes_krels_17.pkl
relations/ch3_v2_4nodes_krels_18.pkl
relations/ch3_v2_4nodes_krels_19.pkl
relations/ch3_v2_4nodes_krels_20.pkl
relations/ch3_v2_4nodes_krels_21.pkl
relations/ch3_v2_4nodes_krels_22.pkl
relations/ch3_v2_4nodes_krels_23.pkl
relations/ch3_v2_4nodes_krels_24.pkl
relations/ch3_v2_4nodes_krels_25.pkl
relations/ch3_v2_4nodes_krels_26.pkl
relations/ch3_v2_4nodes_krels_27.pkl
relations/ch3_v2_4nodes_krels_28.pkl
relations/ch3_v2_4nodes_krels_29.pkl
relations/ch3_v2_4nodes_krels_30.pkl
relations/ch3_v3_4nodes_krels_2.pkl
relations/ch3_v3_4nodes_krels_3.pkl
relations/ch3_v3_4nodes_krels_4.pkl
relations/ch3_v3_4nodes_krels_5.pkl
relations/ch3_v3_4nodes_krels_6.pkl
relations/ch3_v3_4nodes_krels_7.pkl
relations/ch3_v3_4nodes_krels_8.pkl
relations/ch3_v3_4nodes_krels_9.pkl
relations/ch3_v3_4nodes_krels_10.pkl
relations/ch3_v3_4nodes_krels_11.pkl
relations/ch3_v3_4nodes_krels_12.pkl
relations/ch3_v3_4nodes_krels_13.pkl
relations/ch3_v3_4nodes_krels_14.pkl
relations/ch3_v3_4nodes_krels_15.pkl
relations/ch3_v3_4nodes_krels_16.pkl
relations/ch3_v3_4nodes_krels_17.pkl
relations/ch3_v3_4nodes_krels_18.pkl
relations/ch3_v3_4nodes_krels_19.pkl
relations/ch3_v3_4nodes_krels_20.pkl
relations/ch3_v3_4nodes_krels_21.pkl
relations/ch3_v3_4nodes_krels_22.pkl
relations/ch3_v3_4nodes_krels_23.pkl
relations/ch3_v3_4nodes_krels_24.pkl
relations/ch3_v3_4nodes_krels_25.pkl
relations/ch3_v3_4nodes_krels_26.pkl
relations/ch3_v3_4nodes_krels_27.pkl
relations/ch3_v3_4nodes_krels_28.pkl
relations/ch3_v3_4nodes_krels_29.pkl
relations/ch3_v3_4nodes_krels_30.pkl
relations/ch3_v3_5nodes_krels_2.pkl
relations/ch3_v3_5nodes_krels_3.pkl
relations/ch3_v3_5nodes_krels_4.pkl
relations/ch3_v3_5nodes_krels_5.pkl
relations/ch3_v3_5nodes_krels_6.pkl
relations/ch3_v3_5nodes_krels_7.pkl
relations/ch3_v3_5nodes_krels_8.pkl
relations/ch3_v3_5nodes_krels_9.pkl
relations/ch3_v3_5nodes_krels_10.pkl
relations/ch3_v3_5nodes_krels_11.pkl
relations/ch3_v3_5nodes_krels_12.pkl
relations/ch3_v3_5nodes_krels_13.pkl
relations/ch3_v3_5nodes_krels_14.pkl
relations/ch3_v3_5nodes_krels_15.pkl
relations/ch3_v3_5nodes_krels_16.pkl
relations/ch3_v3_5nodes_krels_17.pkl
relations/ch3_v3_5nodes_krels_18.pkl
relations/ch3_v3_5nodes_krels_19.pkl
relations/ch3_v3_5nodes_krels_20.pkl
relations/ch3_v3_5nodes_krels_21.pkl
relations/ch3_v3_5nodes_krels_22.pkl
relations/ch3_v3_5nodes_krels_23.pkl
relations/ch3_v3_5nodes_krels_24.pkl
relations/ch3_v3_5nodes_krels_25.pkl
relations/ch3_v3_5nodes_krels_26.pkl
relations/ch3_v3_5nodes_krels_27.pkl
relations/ch3_v3_5nodes_krels_28.pkl
relations/ch3_v3_5nodes_krels_29.pkl
relations/ch3_v3_5nodes_krels_30.pkl
relations/ch3_v3_5nodes_krels_31.pkl
relations/ch3_v3_5nodes_krels_32.pkl
relations/ch3_v3_5nodes_krels_33.pkl
relations/ch3_v3_5nodes_krels_34.pkl
relations/ch3_v3_5nodes_krels_35.pkl
relations/ch3_v3_5nodes_krels_36.pkl
relations/ch3_v3_5nodes_krels_37.pkl
relations/ch3_v3_5nodes_krels_38.pkl
relations/ch3_v3_5nodes_krels_39.pkl
relations/ch3_v3_5nodes_krels_40.pkl
relations/ch3_v3_5nodes_krels_41.pkl
relations/ch3_v3_5nodes_krels_42.pkl
relations/ch3_v3_5nodes_krels_43.pkl
relations/ch3_v3_5nodes_krels_44.pkl
relations/ch3_v3_5nodes_krels_45.pkl
relations/ch3_v3_5nodes_krels_46.pkl
relations/grids_4nodes_krels_2.pkl
relations/grids_4nodes_krels_3.pkl
relations/grids_4nodes_krels_4.pkl
relations/grids_4nodes_krels_5.pkl
relations/grids_4nodes_krels_6.pkl
relations/grids_4nodes_krels_7.pkl
relations/grids_4nodes_krels_8.pkl
relations/grids_4nodes_krels_9.pkl
relations/grids_4nodes_krels_10.pkl
test_cases/test_answers.json
test_cases/test_parameters.json
test_cases/test_tpm.npy
visualize_pyphi/compute_MOD.py
visualize_pyphi/__pycache__/__init__.cpython-39.pyc
visualize_pyphi/__pycache__/compute.cpython-39.pyc
visualize_pyphi/__pycache__/simulate_ces.cpython-39.pyc
visualize_pyphi/__pycache__/special_plots.cpython-39.pyc
visualize_pyphi/__pycache__/visualize_ces.cpython-39.pyc
